@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.content-div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgb(100 116 139),
    hsla(240, 3%, 16%, 0.8)
  ) !important;
}
